{% macro editCategory(fname, id=None, name='', image_url='', hidden=False) -%}
  <!-- Modal: add/edit a category -->
  <div class="modal fade" id="{{fname}}" tabindex="-1" role="dialog" aria-labelledby="{{fname}}Title" {% if hidden %}aria-hidden="true"{% endif %}>
    <div class="modal-dialog">
      <div class="modal-content">
        <form role="form" method="post" action="/categories/{% if id %}{{id}}{% endif %}">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newCategoryTitle">{% if id %}Edit Category '{{name}}'{% else %}New Category{% endif %}</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="{{fname}}_name">Name:</label>
              <input type="text" id="{{fname}}_name" name="name" class="form-control" value="{{name}}" required>
            </div>
            <div class="form-group">
              <label for="{{fname}}_image_url">Image URL:</label>
              <input type="text" id="{{fname}}_image_url" name="image_url" value="{{image_url}}" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="{% if id %}Update{% else %}Create{% endif %}">
          </div>
        </form>
      </div>
    </div>
  </div>
{%- endmacro %}
{% macro editItem(fname, id=None, name='', description='', image_url='', category_id='', hidden=False) -%}
  <!-- Modal: add/edit an item -->
  <div class="modal fade" id="{{fname}}" tabindex="-1" role="dialog" aria-labelledby="{{fname}}Title" {% if hidden %}aria-hidden="true"{% endif %}>
    <div class="modal-dialog">
      <div class="modal-content">
        <form role="form" method="post" action="/items/{% if id %}{{id}}{% endif %}">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="{{fname}}Title">{% if id %}Edit Item '{{name}}'{% else %}Create Item{% endif %}</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="{{fname}}_name">Name:</label>
              <input type="text" id="{{fname}}_name" name="name" class="form-control" value="{{name}}" required>
            </div>
            <div class="form-group">
              <label for="{{fname}}_category">Category:</label>
              <select id="{{fname}}_category" name="category_id" class="form-control" required>
                <option value="">-- Category --</option>
                {% for category in categories %}
                <option value="{{category.id}}" {% if category.id == category_id %}selected="selected"{% endif %}>{{category.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="{{fname}}_description">Description:</label>
              <textarea id="{{fname}}_description" name="description" class="form-control">{{description}}</textarea>
            </div>
            <div class="form-group">
              <label for="{{fname}}_image_url">Image URL:</label>
              <input type="text" id="{{fname}}_image_url" name="image_url" class="form-control" value="{{image_url}}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="{% if id %}Update{% else %}Create{% endif %}">
          </div>
        </form>
      </div>
    </div>
  </div>
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- using bootstrap CSS & JS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- adding Google+ signin -->
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
function start() {
  gapi.load('auth2', function() {
    auth2 = gapi.auth2.init({
      client_id: "{{CLIENT_ID}}",
    });
  });
}
</script>
<title>Catalog - {% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Catalog App</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/categories/">Categories</a></li>
          {% if AUTHENTICATED %}
          <li><a href="#" data-toggle="modal" data-target="#newCategory">New Category</a></li>
          <li><a href="#" data-toggle="modal" data-target="#newItem">New Item</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            {% if AUTHENTICATED %}
            <!-- logout button -->
            <a href="#" onclick="signOut()">Logout</a>
            {% else %}
            <button id="signinButton">Sign in with Google</button>
            <script>
            $('#signinButton').click(function() {
              auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
            });
            </script>
            {% endif %}
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="jumbotron">
    <div class="container" style="margin-top:50px;">
      {% block head %}{% endblock %}
    </div>
  </div>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  {% if AUTHENTICATED %}
  {{ editCategory('newCategory') }}
  {{ editItem('newItem') }}
  <script>
function signOut() {
  $.ajax({
    type: 'GET',
    url: '/gdisconnect',
    success: function(result) {
      // remove locally stored information
      auth2.disconnect();
      // reload page to show the login button
      location.reload();
    },
    complete: function(jqXHR, textStatus) {
      auth2.disconnect();
    },
    processData: false
  });
}
  </script>
  {% else %}
  <script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // reload page as now we are logged in
        location.reload();
      },
      processData: false,
      data: authResult['code']
    });
  } else if (authResult['error']) {
    // There was an error.
    // Possible error codes:
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatially log in the user
    console.log('There was an error: ' + authResult['error']);
  }
}
  </script>
  {% endif %}
</body>
</html>