{% extends "layout.html" %}
{% block title %}show item {{item.name}}{% endblock %}
{% block head %}
  <h1>Item '{{item.name}}'</h1>
  Category: <a href="/categories/{{item.category.id}}">{{item.category.name}}</a><br>
  {% if item.image_url %}
  <img src="{{item.image_url}}" class="img-responsive">
  <br>
  {% endif %}
  <p>{{item.description|markdown}}</p>
  {% if AUTHENTICATED %}
  <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#editItem">Edit Item</a>
  <a href="#" class="btn btn-danger" role="button" data-toggle="modal" data-target="#delItem">Delete Item</a>
  {% endif %}
{% endblock %}
{% block content %}
  {% if AUTHENTICATED %}
    {{ editItem('editItem', item.id, item.name, item.description, item.image_url, item.category_id) }}
	  <!-- Modal: delete an item -->
	  <div class="modal fade" id="delItem" tabindex="-1" role="dialog" aria-labelledby="delItemTitle" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <form role="form" method="post" action="/items/{{item.id}}?operation=delete&amp;nonce={{nonce}}">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            <h4 class="modal-title" id="delItemTitle">Delete Item '{{item.name}}'</h4>
	          </div>
	          <div class="modal-body">
	           	Are you sure you want to delete the item '{{item.name}}'?
            </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            <input type="submit" class="btn btn-primary" value="Delete">
	          </div>
	        </form>
	      </div>
	    </div>
	  </div>
  {% endif %}
{% endblock %}