{% extends "layout.html" %}
{% block title %}show category {{category.name}}{% endblock %}
{% block head %}
  <h1>Category '{{category.name}}'</h1>
  {% if category.image_url %}
  <img src="{{category.image_url}}" class="img-responsive">
  <br>
  {% endif %}
  {% if AUTHENTICATED %}
  <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#editCategory">Edit Category</a>
  <a href="#" class="btn btn-danger" role="button" data-toggle="modal" data-target="#delCategory">Delete Category</a>
  {% endif %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="span12">
    {% if items|length > 0 %}
    <h2>Items</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Picture</th>
          <th>Name</th>
         </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>{% if item.image_url %}<img src="{{item.image_url}}" class="img-thumbnail">{% endif %}</td>
          <td><a href="/items/{{item.id}}">{{item.name}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h2>No Items in this Category</h2>
    {% endif %}
    {% if AUTHENTICATED %}
    {{ editCategory('editCategory', category.id, category.name, category.image_url) }}
		  <!-- Modal: delete a category -->
		  <div class="modal fade" id="delCategory" tabindex="-1" role="dialog" aria-labelledby="delCategoryTitle" aria-hidden="true">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <form role="form" method="post" action="/categories/{{category.id}}?operation=delete&amp;nonce={{nonce}}">
		          <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		            <h4 class="modal-title" id="delCategoryTitle">Delete Category '{{category.name}}'</h4>
		          </div>
		          <div class="modal-body">
		          	Are you sure you want to delete the category '{{category.name}}'?
		          	All contained items will be deleted as well!
  	          </div>
		          <div class="modal-footer">
		            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		            <input type="submit" class="btn btn-primary" value="Delete">
		          </div>
		        </form>
		      </div>
		    </div>
		  </div>
	  {% endif %}
    </div>
  </div>
{% endblock %}